dataweave/src/main/mule/dataweave.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="51525a8b-db7e-428f-823b-9174ead3eb28" >
		<http:listener-connection host="localhost" port="8080" />
	</http:listener-config>
	<flow name="dataweaveFlow" doc:id="205cc7f6-f6fc-444c-8a19-38713a7016c5" >
		<http:listener doc:name="Listener" doc:id="91132dd7-b539-4bfc-8f0b-4a637c9327fb" config-ref="HTTP_Listener_config" path="demo"/>
		<ee:transform doc:name="Transform JSON to all types" doc:id="ee1bda0f-fb26-4ac2-a382-34eb44cfc4a8" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
 {
	empId: payload.empId,
	empName: payload.empName,
	empAge: payload.empAge,
	empStatus: payload.empStatus
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweaveFlow1" doc:id="26080c90-09a1-4f76-b02f-d481571e492c" >
		<ee:transform doc:name="Transform XML to all types" doc:id="b8278eda-7c8d-4719-b123-8ea14549f01c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	item: {
		price: payload.book.price as String,
		properties: {
			title: payload.book.title,
			author: payload.book.author,
			year: payload.book.year as String,
			language: payload.book.title.@lang
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweaveFlow2" doc:id="9981dfb8-d180-4112-a4ad-0f85532e694d" >
		<ee:transform doc:name="Transform attributes based Json to Xml" doc:id="8e9a1412-42e9-49d0-ac14-5374f09f3cf6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	book: {
		title @(lang: payload.item.properties.language): payload.item.properties.title,
		year: payload.item.properties.year as Number,
		price: payload.item.price as Number,
		author: payload.item.properties.author[0]
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweaveFlow3" doc:id="0187aeb0-55cc-4e4d-b821-b60aa7724a51" >
		<ee:transform doc:name="Transform Json to CSV" doc:id="512854cd-5d1a-44bf-9a0f-32b7230e1090" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/csv
---
[{
	empId: payload.empId as String,
	empName: payload.empName,
	empAge: payload.empAge as String,
	empStatus: payload.empStatus
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="dataweaveFlow4" doc:id="c315181b-e44b-4832-be4e-e7f3e3c3358d" >
		<ee:transform doc:name="Transform Message" doc:id="456888b4-1133-4c6f-b504-b34fa7dd6bce" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/xml
---
{
	emp: {
		empId: payload.Sheet1.empId as Number default 0,
		empName: payload.Sheet1.empName default "",
		empAge: payload.Sheet1.empAge as Number default 0,
		empStatus: payload.Sheet1.empStatus default ""
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
